*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: 'Work Sans', sans-serif;
}

/* banner section css start */
.banner{
    background-image: url('../images/banner/banner3.png');
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    text-align: right;
    padding-left: 650px;
}

.banner-content h1{
    font-size: 40px;
    color: #fff;
    font-weight: 700;
}

.banner-content p{
    margin-top: 10px;
    font-size: 16px;
    color: #fff;
    font-weight: 300;
}

.btn-primary{
    margin-top: 20px;
    padding: 15px 30px;
    border: none;
    color: #005FAC;
    background-color: #fff;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 600;
}

/* banner section css end */

/* previous year section css start */
.previous-year{
    width: 80%;
    margin: 120px auto 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
}

.previous-content h1{
    margin-top: 100px;
    font-size: 40px;
    font-weight: 700;
}

.previous-content p{
    margin-top: 15px;
    font-size: 16px;
    font-weight: 300;
}

.previous-content ul{
    margin-top: 25px;
    padding-left: 15px;
}

.previous-content ul li{
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 300;
}
/* previous year section css end */